.root {
    font-family: var(--primary-font);
    font-size: .875rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .6rem;
    transition: .3s;
    cursor: pointer;
}

.contained {
    border: none;
    padding: .5rem 1.25rem;
    border-radius: .25rem;
    line-height: 1.25rem;
}

.contained.yellow {
    background-color: var(--yellow);
    color: var(--primary);
}

.full, .w-100 {
    width: 100%;
}


.root:disabled {
    background-color: rgba(9, 10, 51, .1);
    color: rgba(9, 10, 51, .4);
    cursor: initial;
}
